<a href="https://colab.research.google.com/github/conuwoo/AI-Camp-Summer-2022/blob/main/ML_Activity/Housing_LinearReg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import numpy as np
import pandas as pd

In [60]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
data = pd.concat((train_data, test_data), sort=False)

Preprocessing

In [61]:
from sklearn.preprocessing import LabelEncoder
for col in range(data.shape[1]):
  encoder = LabelEncoder()
  encoder.fit(data.iloc[:, col])
  data.iloc[:, col] = encoder.transform(data.iloc[:, col])

In [62]:
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,5,3,41,619,1,2,3,3,0,...,0,3,4,4,0,1,2,8,4,412
1,1,0,3,56,895,1,2,3,3,0,...,0,3,4,4,0,4,1,8,4,339
2,2,5,3,44,1266,1,2,0,3,0,...,0,3,4,4,0,8,2,8,4,442
3,3,6,3,36,883,1,2,0,3,0,...,0,3,4,4,0,1,0,8,0,194
4,4,5,3,60,1670,1,2,0,3,0,...,0,3,4,4,0,11,2,8,4,494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2914,13,4,0,23,1,2,3,3,0,...,0,3,4,4,0,5,0,8,4,663
1455,2915,13,4,0,20,1,2,3,3,0,...,0,3,4,4,0,3,0,8,0,663
1456,2916,0,3,121,1863,1,2,3,3,0,...,0,3,4,4,0,8,0,8,0,663
1457,2917,9,3,38,1090,1,2,3,3,0,...,0,3,2,2,17,6,0,8,4,663
1458,2918,5,3,50,900,1,2,3,3,0,...,0,3,4,4,0,10,0,8,4,663

In [63]:
#filling Na with mean
data = data.fillna(data.mean())

In [64]:
data.isnull().sum().sum()

0

Scaling

In [65]:
from sklearn.preprocessing import minmax_scale
for col in data.columns:
  data[col] = pd.Series(minmax_scale(data[col]), index=data.index)

In [66]:
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0.000000,0.333333,0.6,0.320312,0.317436,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.090909,0.50,0.888889,0.8,0.621418
1,0.000343,0.000000,0.6,0.437500,0.458974,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.363636,0.25,0.888889,0.8,0.511312
2,0.000685,0.333333,0.6,0.343750,0.649231,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.727273,0.50,0.888889,0.8,0.666667
3,0.001028,0.400000,0.6,0.281250,0.452821,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.090909,0.00,0.888889,0.0,0.292609
4,0.001371,0.333333,0.6,0.468750,0.856410,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,1.000000,0.50,0.888889,0.8,0.745098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,0.998629,0.866667,0.8,0.000000,0.011795,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.454545,0.00,0.888889,0.8,1.000000
1455,0.998972,0.866667,0.8,0.000000,0.010256,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.272727,0.00,0.888889,0.0,1.000000
1456,0.999315,0.000000,0.6,0.945312,0.955385,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.727273,0.00,0.888889,0.0,1.000000
1457,0.999657,0.600000,0.6,0.296875,0.558974,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.5,0.5,0.459459,0.545455,0.00,0.888889,0.8,1.000000
1458,1.000000,0.333333,0.6,0.390625,0.461538,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.000000,0.909091,0.00,0.888889,0.8,1.000000

Split the data

In [67]:
X_train = data[:train_data.shape[0]]
Y_train= X_train.SalePrice
X_test = data[train_data.shape[0]:]

Linear reg function

In [68]:
def linear_reg(w, x, b):
  return np.dot(w, x) + b

In [69]:
print(X_train.shape)
print(Y_train.shape)
w = np.zeros((81,), dtype=int)
print(w.shape)
b = 0

(1460, 81)
(1460,)
(81,)

In [70]:
X_train = X_train.to_numpy()
Y_train = Y_train.to_numpy()

Testing

In [72]:
def cost(x, y, w, b): 
    m = x.shape[0]
    cost = 0.0
    for i in range(m):                                
        prod = np.dot(x[i], w) + b           
        cost = cost + (prod - y[i])**2
    cost = cost / (2 * m)                          
    return cost

In [73]:
def gradient(X, y, w, b): 
    m = X.shape[0]
    n = X.shape[1] # weight for dot product      
    grad_w = np.zeros((n,)) #gradient for w
    grad_b = 0 # gradient for b

    for i in range(m):                             
        loss = (np.dot(X[i], w) + b) - y[i]   
        for j in range(n):                         
            grad_w[j] = grad_w[j] + loss * X[i, j]    
        grad_b = grad_b + loss                        
    grad_w = grad_w / m                                
    grad_b = grad_b / m                                
        
    return grad_b, grad_w

In [88]:
def gradient_descent(X, y, w, b, alpha,num_iters, cost_function, gradient_function):  
    for i in range(num_iters):
        dj_db,dj_dw = gradient_function(X, y, w, b)   

        w = w - alpha * dj_dw               
        b = b - alpha * dj_db               
          
        if i% 100 == 0:
            print('Iteration: ' + str(i) + ', Loss: ' + str(cost_function(X,y,w,b)))
        
    return w, b

In [75]:
gradient_descent(X_train,Y_train,w,b,0.01,1000,cost,gradient)

Iteration: 0, Loss: 0.08563956865391657
Iteration: 100, Loss: 0.010560093822238756
Iteration: 200, Loss: 0.0056203497201659436
Iteration: 300, Loss: 0.004169907501344975
Iteration: 400, Loss: 0.0036347950021395057
Iteration: 500, Loss: 0.0033623881732875627
Iteration: 600, Loss: 0.0031808512191443383
Iteration: 700, Loss: 0.0030405814035117133
Iteration: 800, Loss: 0.0029243685538938623
Iteration: 900, Loss: 0.002824477215383811

(array([-0.00297964, -0.00409009, -0.01169503,  0.01361804,  0.05325521,
         0.00995154,  0.0089894 , -0.0178893 , -0.00266642, -0.00045915,
         0.00055948,  0.01165849,  0.01634163,  0.0043776 ,  0.00088757,
        -0.01839277,  0.01542431,  0.06689642,  0.01847536,  0.04221574,
         0.06265635,  0.00995226,  0.00893824,  0.00224752,  0.0101621 ,
         0.00780928,  0.02896984, -0.04371589,  0.008818  ,  0.01810154,
        -0.04076149,  0.00228802, -0.02103097, -0.01104326,  0.04722599,
         0.00167501,  0.0056926 ,  0.02006399,  0.06934538,  0.00089879,
        -0.04099886,  0.02170323,  0.01380174,  0.06844   ,  0.06653387,
         0.00036514,  0.10375942,  0.01488281, -0.00169794,  0.03985701,
         0.03375143,  0.01325504, -0.00691687, -0.04468849,  0.03181488,
         0.0218202 ,  0.0397663 , -0.04760631, -0.03922729,  0.01990455,
        -0.04716812,  0.0342838 ,  0.06211648,  0.00193457,  0.00515524,
         0.01827518,  0.02769139,  0.03019967,  0.00326827,  0.00203168,
         0.01918267,  0.00160257,  0.00604609,  0.01094011,  0.01094085,
        -0.00019414,  0.01304802, -0.00467243,  0.00417605,  0.02630566,
         0.15952347]), 0.007293224215159183)